#!/usr/bin/env bash

WORKDIR=$(CDPATH="cd -- $(dirname -- "$0")" && pwd -P)
export WORKDIR

readarray -t DOTENV < <(sops -d --output-type dotenv "$WORKDIR/.env")
[ ${#DOTENV[@]} -gt 0 ] && export "${DOTENV[@]}"
